fastapi
uvicorn
python-multipart
pydantic[email]
psycopg2-binary
sqlalchemy
python-dotenv
ultralytics
opencv-python-headless
numpy
boto3
google-genai
botocore
protobuf
pillow
passlib==1.7.4
bcrypt==3.2.0
python-jose